.loading-spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  min-height: 200px;
}

.loading-spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #EF944B;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loading-spinner-container.small .loading-spinner {
  width: 30px;
  height: 30px;
  border-width: 3px;
}

.loading-spinner-container.medium .loading-spinner {
  width: 50px;
  height: 50px;
  border-width: 4px;
}

.loading-spinner-container.large .loading-spinner {
  width: 70px;
  height: 70px;
  border-width: 5px;
}

.loading-message {
  margin-top: 16px;
  color: #666;
  font-size: 14px;
  font-weight: 500;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
